.home-header{
    text-align: center;
}

.home-header h2 {
    color: rgb(111, 81, 40);
    font-size: 2rem;
    font-family: 'Space Mono', monospace;

}

.home-header h1{
    font-size: 3rem;
    color: rgb(51, 70, 70);
    margin-bottom: 1rem;
    font-family: 'Space Mono', monospace;
}

.home-header h1 span{
 color: #404955;
 font-family: 'Space Mono', monospace;

}

.home-header p {
    color: #a9a9a9;
    font-weight: 500;
    font-family: 'Space Mono', monospace;

}